.project-details {
  a:hover {
    text-decoration: none;
  }
  a:hover span {
    color: rgb(183, 32, 46);
  }
  .badge-info {
    background-color: rgb(183, 32, 46);
  }
  .left-panel {
    border-right: 1px solid #dedcd9;
  }
  .back-button {
    width: 30vh;
    background-color: rgb(183, 32, 46);
    color: white;
  }

  @media only screen and (max-width: 750px) {
    .left-panel {
      border: none;
    }
    .back-button {
      width: 40vh;
      background-color: rgb(183, 32, 46);
      color: white;
    }
  }
}
